

jmnode {
    padding: 10px;
    background-color: #fff;
    color: #333;
    border-radius: 6px;
    box-shadow: none;
    border: 2px solid #ececec;
}

jmexpander {
    border-color: #5382de;
    color:#5382de;
}
jmexpander {
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    overflow: hidden;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    border-radius:50%;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
}

jmnode.selected {
    background-color: #ffff;
    color: #333;
    box-shadow:none;
}
jmnode.selected input {
   border: none;
}
jmnode:hover{background:none;box-shadow: none;}   